* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.custmon-container {
  margin: 0px 50px;
  padding: 0px 20px;
  max-width: 1350px;
  margin: 0 auto;
}

#control-nav {
  width: 100%;
  height: 180px;
  color: white;
  background: #333745;
}

.logo {
  color: white;
  font-size: 28px;
  text-decoration: none;
  list-style-type: none;
  font-weight: bolder;
  text-transform: uppercase;
}

.logo span {
  color: yellow;
}

.control-menu {
  padding-top: 70px;
}

.menu-items {
  list-style-type: none;
  text-decoration: none;
  margin-left: 300px;
}

.menu-item {
  margin: 0px 20px;
}

.menu-font {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white !important;
}

.menu-font:hover {
  color: yellow !important;
}

.banner-part {
  margin-top: 1px;
}

.banner-part img {
  width: 100%;
}

.banner-des {
  color: white;
  width: 100%;
  background: #f2d13e;
  padding: 80px 0px;
  font-size: 22px;
  text-transform: uppercase;
  font-family: Helvetica;
}

.library-information {
  width: 100%;
  padding: 80px 0px;
  background-color: #f4efef;
}
.box-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.simple-box {
  width: 24%;
  background-color: white;
  padding: 60px 30px;
}

.simple-box h1 {
  font-size: 28px;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;
}

.simple-box h2 {
  color: #dab303;
  font-size: 18px;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.simple-box p {
  font-size: 16px;
  text-align: justify;
  padding-bottom: 27px;
}

.box-btn {
  text-transform: uppercase;
  padding: 13px 28px;
  font-size: 14px;
  border: none;
  background-color: #333745;
  color: white;
  font-weight: bold;
}

.box-btn:hover {
  color: black;
  background-color: #f2d13e;
  transition: 0.2s ease-in-out all;
}
#footer {
  width: 100%;
  margin-bottom: 5px;
  background-color: #222530;
}

.footer-content {
  width: 100%;
  padding: 20px 0px;
}

.footer-des {
  color: grey;
}

.social-icon {
}
